In [1]:
import seaborn as sns
import pandas as pd

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
tips.groupby(['sex','smoker'], as_index= False).agg(
    tips_sum = ('tip','sum'),
                                                    # {'tip':'sum'}
                                                    # ,
                                                     mode_size = ('size',lambda x: x.mode().iloc[0] if not x.mode().empty else None))

/tmp/ipykernel_12084/2863089968.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['sex','smoker'], as_index= False).agg(

      sex smoker  tips_sum  mode_size
0    Male    Yes    183.07          2
1    Male     No    302.00          2
2  Female    Yes     96.74          2
3  Female     No    149.77          2

In [8]:
tips.groupby(['sex','smoker'])['tip'].sum()

/tmp/ipykernel_12084/3000750171.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['sex','smoker'])['tip'].sum()

sex     smoker
Male    Yes       183.07
        No        302.00
Female  Yes        96.74
        No        149.77
Name: tip, dtype: float64